<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Add News</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/admin/vendors/feather/feather.css" />
    <link
      rel="stylesheet"
      href="/admin/vendors/ti-icons/css/themify-icons.css"
    />
    <link rel="stylesheet" href="/admin/vendors/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/admin/vendors/select2/select2.min.css" />
    <link
      rel="stylesheet"
      href="/admin/vendors/select2-bootstrap-theme/select2-bootstrap.min.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css" />
    <!-- endinject -->
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <%- include('./partials/navbar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <%- include('./partials/settingPannel') %>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <%- include('./partials/sidebar') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <% if(formSubmissionFlag === 'false') { %>
                    <h4 class="card-title">Add News</h4>
                    <p class="card-description">Every thing is necessary</p>
                    <% } else { %>
                    <h4 class="card-title alert alert-success">
                      Please scroll down to see the form data
                    </h4>
                    <% } %>
                    <form
                      class="forms-sample"
                      action="/admin/addNews"
                      method="POST"
                      enctype="multipart/form-data"
                    >
                      <div class="form-group">
                        <label for="exampleInputName1">Header of News</label>
                        <input
                          type="text"
                          class="form-control"
                          name="header"
                          id="exampleInputName1"
                          placeholder="Header of the News"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3"
                          >Sub-Header of News</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          name="subHeader"
                          id="exampleInputEmail3"
                          placeholder="Sub-Header of the News"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <div>Image of News</div>
                        <input
                          type="file"
                          name="imageUrl"
                          class="file-upload-default"
                        />
                        <div class="input-group col-xs-12">
                          <input
                            type="text"
                            class="form-control file-upload-info"
                            disabled
                            placeholder="Upload Image"
                            required
                          />
                          <span class="input-group-append">
                            <button
                              class="file-upload-browse btn btn-primary"
                              type="button"
                            >
                              Upload
                            </button>
                          </span>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="exampleTextarea1"
                          >Content (Less than 40 words)</label
                        >
                        <textarea
                          class="form-control"
                          id="exampleTextarea1"
                          name="content"
                          rows="4"
                          placeholder="Content should be Less than 40 words"
                          required
                        ></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">
                        Submit
                      </button>
                      <button class="btn btn-light" type="reset">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>

              <% if(formSubmissionFlag === 'true') { %>
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Submited News</h4>
                    <p class="card-description">Submited News Information</p>
                    <div class="form-group row">
                      <div class="col">
                        <div class="alert alert-secondary text-dark">
                          Header: <%= formData.header %>
                        </div>
                        <div class="alert alert-info">
                          Sub Header: <%= formData.subHeader %>
                        </div>
                        <div class="alert alert-secondary text-dark">
                          Content: <br />
                          <%= formData.content %>
                        </div>
                      </div>
                      <div class="col">
                        <div id="bloodhound">
                          <img
                            src="<%= formData.imageUrl %>"
                            class="w-100 rounded"
                            alt="newsimage"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <%- include('./partials/footer') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/admin/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="/admin/vendors/select2/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin/js/off-canvas.js"></script>
    <script src="/admin/js/hoverable-collapse.js"></script>
    <script src="/admin/js/template.js"></script>
    <script src="/admin/js/settings.js"></script>
    <script src="/admin/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/admin/js/file-upload.js"></script>
    <script src="/admin/js/typeahead.js"></script>
    <script src="/admin/js/select2.js"></script>
    <!-- End custom js for this page-->
  </body>
</html>
