<div
  class="
    banner-area
    shadow
    bg-fixed
    dark
    text-center text-light
    background-poster-size
  "
>
  <div class="container">
    <div class="row">
      <!-- <div class="bg-video-container " id="bgVideoPoster">
                <video  muted loop autoplay class=" player embed-responsive-item img-fluid"   src="/media/video/intro1.png"></video>
            </div> -->
      <div class="bg-video-container" id="bgVideoPoster">
        <img class="banner-size" src="/media/video/intro.png" />
      </div>
      <div class="col-md-9 col-md-offset-1">
        <div class="box-table">
          <div class="box-cell">
            <div class="content search-content">
              <h2>Grow Your Career With Our Certified Courses</h2>
              <ul>
                <li><i class="fas fa-globe-asia"></i> Human Resource</li>
                <li><i class="fas fa-globe-asia"></i> Digital Marketing</li>
                <li><i class="fas fa-globe-asia"></i> & More</li>
              </ul>
            </div>
            <!-- content placed Here -->

            <div class="col-md-8 col-md-offset-2" style="margin-top: 2%">
              <div class="row">
                <form action="" id="course_form" class="col-md-12" method="GET">
                  <select
                    id="course_name"
                    class="form-control"
                    style="height: 60px"
                  >
                    <option value="humanResource.html">Human Resource</option>
                    <option value="digitalMarketing.html">
                      Digital Marketing
                    </option>
                    <option value="travelManagement.html">Tour & Travel</option>
                    <option value="it.html">Information Technology</option>
                    <option value="retailManagement.html">
                      Retail Management
                    </option>
                  </select>
                  <!-- <input type="text" placeholder="Enter course name" class="form-control" name="course_name"> -->
                  <button
                    type="submit"
                    style="
                      position: absolute;
                      min-width: 110px;
                      min-height: 64px;
                      right: 0;
                      background: #ffb606;
                      z-index: 123;
                      border: none;
                      color: white;
                      font-size: 1.9rem;
                    "
                  >
                    <i class="ti-search"></i> Search
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-md-offset-0">
        <div class="content">
          <div class="item">
            <a
              href="https://www.youtube.com/watch?v=Rz-OvsMNZmg"
              class="popup-youtube relative light video-play-button item-center"
            >
              <i class="fa fa-play"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="includeTiles">

</div> -->
<%- include('includeTiles') %>

<div class="popular-courses-area active-dots carousel-shadow weekly-top-items">
  <div class="container">
    <div class="row">
      <div class="site-heading text-center">
        <div class="col-md-8 col-md-offset-2">
          <h2>Popular Courses</h2>
          <p>
            We are currently providing courses in four domains namely Human
            Resource Management(HRM), Digital Marketing Management (DMM), Travel
            Tourism Management (TTM) & Retail Management (RM). We have
            accreditation from various famous authorities and most of our alumni
            have been working in famous organizations after our online courses.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="top-course-items">
          <div class="item col-md-6">
            <div class="thumb" style="padding-top: 15px">
              <img
                src="/media/images/courses/digital_marketing.jpg"
                alt="Thumb"
              />
              <!-- <div class="overlay">
                                <ul>
                                    <li><i class="fas fa-clock"></i> 60:00:00</li>
                                    <li><i class="fas fa-list-ul"></i> 757</li>
                                </ul>
                            </div> -->
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="digitalMarketing.html">Digital Marketing</a>
                  </li>
                  <!-- <li>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </li> -->
                </ul>
              </div>
              <!-- <h4>
                                <a href="digitalMarketing.html"> </a>
                            </h4> -->
              <p>
                With a view to enrich your career in new age marketing
                techniques, pursue Digital Marketing course. In depth knowledge
                of online promoting, advertising, branding & selling a product
                across several platforms, can be well learnt through this
                course. Extensive industry-based practical experience will
                provide students to excel in the real business world. Here, the
                applicants get an opportunity to master under professional
                experts guidance. Our faculty comprises supreme talents from
                Digital Marketing domain & leading industry-oriented guest
                lecturers.
              </p>
              <div class="footer-meta">
                <a class="btn btn-theme effect btn-sm" href="enrollNow.html"
                  >Enroll Now</a
                >
                <!-- <h4>NA</h4> -->
              </div>
            </div>
          </div>
          <div class="item col-md-6">
            <div class="thumb" style="padding-top: 15px">
              <img
                src="/media/images/courses/human_resources.jpg"
                alt="Thumb"
              />
              <!-- <div class="overlay">
                                <ul>
                                    <li><i class="fas fa-clock"></i> 60:00:00</li>
                                    <li><i class="fas fa-list-ul"></i> 757</li>
                                </ul>
                            </div> -->
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="humanResource.html">HUMAN Resource MANAGEMENT</a>
                  </li>
                  <!-- <li>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </li> -->
                </ul>
              </div>
              <!-- <h4>
                                <a href="humanResource.html"> </a>
                            </h4> -->
              <p>
                Human Resource Management is an utmost essential segment of any
                organization. It occupies lion’s share in strategic management
                of resources. Despite any educational background, Human Resource
                Management can be chosen course of education. A prudent
                proposition to manage workforce which involves employment
                hiring, remunerations & exclusive employee engagement are the
                fundamental jobs. Students who aspire to build a career in
                skilled resource planning, enthusiastic team development &
                structuring for high productivity in an organization, are
                recommended to accelerate with Human Resource Management course.
              </p>
              <div class="footer-meta">
                <a class="btn btn-theme effect btn-sm" href="enrollNow.html"
                  >Enroll Now</a
                >
                <!-- <h4>NA</h4> -->
              </div>
            </div>
          </div>
          <div class="item col-md-6">
            <div class="thumb" style="padding-top: 15px">
              <img src="/media/images/courses/tourism.jpg" alt="Thumb" />
              <!-- <div class="overlay">
                                <ul>
                                    <li><i class="fas fa-clock"></i> 60:00:00</li>
                                    <li><i class="fas fa-list-ul"></i> 757</li>
                                </ul>
                            </div> -->
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="travelManagement.html">TOUR & TRAVEL MANAGEMENT</a>
                  </li>
                  <!-- <li>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </li> -->
                </ul>
              </div>
              <!-- <h4>
                                <a href="travelManagement.html"> </a>
                            </h4> -->
              <p>
                Travel & Tourism considered to be a part of service industry, is
                an essential constituent in development of an economy. In India,
                it is the largest service industry that is developing
                expeditiously. From the worldwide estimate on Travel & Tourism
                sector, it can be well-concluded as the major revenue generating
                industry. Predominantly Travel & Tourism comprises of Travel
                Management, Hospitality Management & Tour Management. Since it’s
                a diversified field, where every component of inbound/outbound
                travelling, food & beverages are covered. Tourism is said to be
                an elaborated discipline as compared to Travel. Nonetheless, the
                surging demand for Travel & Tourism has escalated the need for
                new evolutions in the industry.
              </p>
              <div class="footer-meta">
                <a class="btn btn-theme effect btn-sm" href="enrollNow.html"
                  >Enroll Now</a
                >
                <!-- <h4>NA</h4> -->
              </div>
            </div>
          </div>
          <div class="item col-md-6">
            <div class="thumb" style="padding-top: 15px">
              <img src="/media/images/courses/retail.jpg" alt="Thumb" />
              <!-- <div class="overlay">
                                <ul>
                                    <li><i class="fas fa-clock"></i> 60:00:00</li>
                                    <li><i class="fas fa-list-ul"></i> 757</li>
                                </ul>
                            </div> -->
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="retailManagement.html">RETAIL MANAGEMENT</a>
                  </li>
                  <!-- <li>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                    </li> -->
                </ul>
              </div>
              <!-- <h4>
                                <a href="retailManagement.html"> </a>
                            </h4> -->
              <p>
                Categorized under general management field, Retail Management is
                a unique course. Not everyone can pursue Retail Management. Its
                line of operation extends towards merchandise monitoring, vendor
                administration, inventory supervision & customer service.
                Applicants who strive to build a career as Retail Sales
                associate, Warehouse Manager, Store Manager or Customer-support
                Executive. Retail Management is a diversified course where
                several other management courses correspond with each other.
                Other disciplines spanning from business, international
                business, marketing, logistics and supply chain management along
                with operations management are closely interconnected. So, you
                earn a single degree with ample of learning in various sectors.
              </p>
              <div class="footer-meta">
                <a class="btn btn-theme effect btn-sm" href="enrollNow.html"
                  >Enroll Now</a
                >
                <!-- <h4>NA</h4> -->
              </div>
            </div>
          </div>
          <!-- Put Next items here -->
          <div class="item col-md-12">
            <div class="thumb" style="padding-top: 15px">
              <img
                src="/media/images/courses/What_is_Information_Technology.webp"
                alt="Thumb"
              />
              <!-- <div class="overlay">
                            <ul>
                                <li><i class="fas fa-clock"></i> 60:00:00</li>
                                <li><i class="fas fa-list-ul"></i> 757</li>
                            </ul>
                        </div> -->
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="it.html"> INFORMATION TECHNOLOGY </a>
                  </li>

                  <!-- <li>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star-half-alt"></i>
                                </li> -->
                </ul>
              </div>
              <!-- <h4>
                            <a href="It.html">

                            </a>
                        </h4> -->
              <p>
                Under our IT courses, students or working professionals can
                enhance their software development skill sets. We offer varied
                courses with tailor-made packages for easy accessibility and
                specialized knowledge library. The courses are designed taking
                into consideration the constant demand of computer application
                and programming languages. Through Academie, students can
                conquer the technical challenges faced in their present
                work-life. The online classes are digitally optimized to deliver
                expert strategies in applied learning approach.
              </p>
              <div class="footer-meta">
                <a class="btn btn-theme effect btn-sm" href="enrollNow.html"
                  >Enroll Now</a
                >
                <!-- <h4>NA</h4> -->
              </div>
            </div>
          </div>
          <!-- put the next item here -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="top-course-items">
          <!-- Put Next items here -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-area bottom-less">
  <div class="container">
    <div class="row">
      <div class="site-heading text-center">
        <div class="col-md-8 col-md-offset-2">
          <h2>Latest News</h2>
          <p>
            Find all the latest news we have from Academie. This may be from
            first visitor to our recognitions or anything else.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog-items">
        <!-- {for $i=0 to $latest_news|count - 1} -->
        <% allNews.forEach((news, index) => { %>
        <div class="col-md-4 single-item">
          <div class="item background-white">
            <div class="thumb">
              <a href="#">
                <img class="news-img" src="<%= news.imageUrl %>" alt="Thumb" />
                <!--this is the static path of image => /media/images/classNews.png -->
              </a>
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="enrollNow.html"
                      ><i class="fas fa-user"></i> <%= news.header %>
                      <!-- Admissions Open -->
                    </a>
                  </li>
                  <!-- <li><i class="fas fa-calendar-alt"></i></li> -->
                </ul>
              </div>
              <div class="card panel-title">
                <a
                  data-toggle="collapse"
                  data-target="#news<%= index + 1 %>"
                  style="border: 0px"
                >
                  <div
                    class="row meta pointer hover-pointer"
                    style="margin: 0px"
                  >
                    <div class="col-sm-10">
                      <%= news.subHeader %>
                      <!-- New Batches Starting -->
                    </div>
                    <div class="col-sm-1">
                      <i class="accordion_icon fa fa-plus"> </i>
                    </div>
                  </div>
                </a>
                <div id="news<%= index + 1 %>" class="content collapse">
                  <p style="margin: 0px">
                    <%= news.content %>
                    <!-- We offer customized course plans & convenient virtual class
                    schedules at your ease. Avail substantial discounts on
                    Admission. -->
                  </p>

                  <!-- <p class="text-right hover-pointer" style="margin: 0px">
                    *T&C: Offer Valid for limited period
                  </p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
        <!-- now these are in the loop as above code -->

        <!-- <div class="col-md-4 single-item">
          <div class="item background-white">
            <div class="thumb">
              <a href="#">
                <img src="/media/images/news/1.jpg " alt="Thumb" />
              </a>
            </div>
            <div class="info">
              <div class="meta hover-pointer">
                <ul>
                  <li>
                    <a href="franchise.html"
                      ><i class="fas fa-user"></i> Franchise On-Sale
                    </a>
                  </li>
                 
                </ul>
              </div>
              <div class="card panel-title">
                <a
                  data-toggle="collapse"
                  data-target="#news2"
                  style="border: 0px"
                >
                  <div class="row meta hover-pointer" style="margin: 0px">
                    <div class="col-sm-10">Low-Cost business model</div>
                    <div class="col-sm-1">
                      <i class="accordion_icon fa fa-plus"> </i>
                    </div>
                  </div>
                </a>
                <div id="news2" class="content collapse">
                  <p>
                    get an opportunity to become Franchise partner with
                    Academie. Benefit your current business by infusing new
                    trends & technology prevailing in Education Industry.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-md-4 single-item">
          <div class="item background-white">
            <div class="thumb">
              <a href="#">
                <img src="/media/images/news/1.jpg " alt="Thumb" />
              </a>
            </div>
            <div class="info">
              <div class="meta">
                <ul>
                  <li>
                    <a href="#"><i class="fas fa-user"></i> Latest News</a>
                  </li>
                  
                </ul>
              </div>
              <div class="card panel-title">
                <a
                  data-toggle="collapse"
                  data-target="#news3"
                  style="border: 0px"
                >
                  <div class="row meta hover-pointer" style="margin: 0px">
                    <div class="col-sm-10">Join Faculty Member Team</div>
                    <div class="col-sm-1">
                      <i class="accordion_icon fa fa-plus"> </i>
                    </div>
                  </div>
                </a>
                <div id="news3" class="content collapse">
                  <p>
                    Get exemplary opportunity to associate with Academie as a
                    Faculty. Utilize skills & experience to teach & train
                    students of your domain expertise
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- {/for} -->
      </div>
      <!-- <div class="row">
                <div class="col-sm-4 col-sm-offset-4 text-center">
                    <a class="animation" style="width:100%;">
                       Hi this is news button
                    </a>
                </div>
            </div> -->
    </div>
  </div>
</div>

<div class="newsletter-area" style="padding-bottom: 90px">
  <div class="container">
    <div
      class="subscribe-items shadow theme-hard default-padding bg-cover"
      style="background-image: url(/media/images/banner.jpg)"
    >
      <div class="row">
        <div class="col-md-7 left-info">
          <div class="info-box">
            <div class="icon">
              <i class="flaticon-email"></i>
            </div>
            <div class="info">
              <h3>Subscribe to our Latest Updates</h3>
              <!-- Subscribe Us to be Updated  -->
              <p>
                Stay updated with all the latest information and news from
                Academie.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <form
            name="newsletter"
            action="https://dash.intueri.io/api/weblead.php"
            method="GET"
            target="_blank"
          >
            <div class="input-group">
              <input
                type="hidden"
                name="apikey"
                value="4b64d1cf5d05bf7455275832509c058b"
              />

              <input
                type="email"
                id="subscribe"
                placeholder="Enter your e-mail here"
                class="form-control"
                name="leadEmail"
              />
              <button type="submit">
                Subscribe <i class="fa fa-paper-plane"></i>
              </button>
            </div>
          </form>
          <div
            id="newsletter-msg"
            style="padding-top: 5px; padding-left: 15px"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <script>
      $(function(){
    $("#includeTiles").load("/includeTiles.html");
     })

  </script> -->

<script>
  document.addEventListener('readystatechange', (event) => {
    if (event.target.readyState === 'complete') {
      var course_form = document.getElementById('course_form');
      course_form.addEventListener('submit', (event) => {
        courseUrl = document.getElementById('course_name').value;
        course_form.setAttribute('action', `./${courseUrl}`);
      });
    }
  });
</script>

<script>
  $('.panel-title > a').click(function () {
    $(this)
      .find('i')
      .toggleClass('fa-plus fa-minus')
      .closest('panel')
      .siblings('panel')
      .find('i')
      .removeClass('fa-minus')
      .addClass('fa-plus');
  });
</script>
